
/* Your CSS Code here. */
nav{
	background-color:#333;
	padding:10px;
}
ul{
 list-style:none;
	padding:0;
	gap:30px;
	display:flex;
	
}
li{
	display:inline;
}
a{
	color:white;
	text-decoration:none;
	
}
.video{
margin-top:20px;
	text-align:center;
}
video{
	margin:10px;
	width:400px;
	height:200px;
	border-radius:10px
}